.activation-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 100px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100%;
  height: 100%;
  text-align: center;

  h2 {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: linear-gradient(to right, transparent, #000, transparent);
      margin: 10px auto 0 auto;
      border-radius: 1px;
    }
  }

  p {
    margin: 0 auto;
    max-width: 30ch;
    word-wrap: break-word;
  }
}
