.activation-notice {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 20px 100px;
    border-radius: 10px;
    max-width: 90%;

    h2 {
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background: linear-gradient(to right, transparent, #000, transparent);
            margin: 10px auto 0 auto;
            border-radius: 1px;
        }
    }

    p {
        margin: 0 auto;
        max-width: 30ch;
        word-wrap: break-word;
    }
}