@use "./global.scss" as*;
@use "sass:color";

.MuiPaper-root {
    background-color: $color-cream;

    .MuiCardContent-root {
        .MuiFormControl-root {
            background-color: white;
        }
    }
}

.MuiPopper-root .MuiPaper-root.MuiAutocomplete-paper {
    background-color: white !important;
    border: 1px solid #ccc !important;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.MuiAlert-root.MuiAlert-standardSuccess {
    background-color: #EDF7ED;
}

.MuiButtonBase-root.MuiButton-root {
    &.saveBtn {
        background-color: $color-orange;
        border: 2px solid $color-orange;
        &:hover {
            background-color: color.adjust($color-orange, $lightness: 5%);
        }
    }

    &.cancelBtn {
        background-color: $color-cream;
        color: $color-orange;
        border: 2px solid $color-orange;
       &:hover {
            background-color: color.adjust($color-cream, $lightness: 5%);
        } 

    }
}