@use "./global.scss" as*;
@use'sass:color';


.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.order-card {
    min-width: 500px;
    min-height: 400px;
    box-shadow: 0 0 10px #0000001a;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .card-header-title {
        text-align: center;
        font-size: 22px;

        margin-bottom: 5px;
        padding: 5px;
        color: $color-orange;
    }

    .card-content {
        margin: 1.2rem 0 0.6rem 0;
        font-size: 17px;
        padding-left: 2rem;

        .card-content-text {
            padding: 0 0 5px 0;

        }
    }

    .card-button-section {
        display: flex;
        justify-content: center;
        margin: 1.2rem 0 0.6rem 0;

        .confirmBtn {
            padding: 8px;
            font-size: 17px;
            font-weight: bold;
            background-color: $color-orange;
            color: white;
            border: 1px solid $color-orange;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
                background-color: color.adjust($color-orange, $lightness: 5%);
            }
        }

        .pickedupBtn {
            padding: 8px;
            font-size: 17px;
            font-weight: bold;
            background-color: $color-orange;
            color: white;
            border: 1px solid $color-orange;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
                background-color: color.adjust($color-orange, $lightness: 5%);
            }
        }
    }
}

.line-wrapper {
    width: 95%;
    margin: 10px auto;
}

.fade-line {

    height: 1px;
    background-color: #D3D3D3;
    width: 95%;
    margin: 10px auto;

    mask-image: linear-gradient(to right,
            transparent 0%,
            white 15%,
            white 85%,
            transparent 100%);

    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            white 15%,
            white 85%,
            transparent 100%);
}

.no-order-message {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    background-color: #F5F5F5;
    border: 1px dashed #D3D3D3;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    color: #777;
    font-size: 1.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    h3 {
        margin: 0;
        font-weight: 500;
        line-height: 1.5;
    }
}

.item-quantity {
  margin-left: 16px;
}
