$color-brown: #5d402b;
$color-cream: #f5e4cb;
$color-orange: #ea9332;
$color-hamburgerIcon: white;
$color-text: white;
.review-form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  z-index: 1000;
  animation: popupFadeInMain 0.3s ease forwards;
  .spinner {
    margin-top: 16px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #555;
    border-radius: 50%;
    animation: spinForm 0.8s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  #submitBtn {
    background-color: $color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
  }
  .MuiSlider-track {
    background-color: $color-orange; /* filled track */
    height: 7px;
    width: 80%;
  }

  .MuiSlider-rail {
    background-color: $color-cream; /* unfilled track */
  }

  .MuiSlider-thumb {
    background-color: $color-orange; /* the draggable circle */
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    &:hover {
      background-color: #ff8a04;
      box-shadow: 0 0 0 8px rgba(241, 131, 5, 0.151);
    }
  }
  .MuiSlider-mark {
    background-color: $color-brown;
    height: 5px;
    width: 2px;
  }

  .MuiSlider-markLabel {
    color: #2196f3;
    font-size: 0.8rem;
  }
  .form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: 600;

    .rating-section {
      margin-bottom: 1rem;

      .MuiTypography-root {
        font-weight: 500;
      }
    }
  }

  .error-text {
    color: red;
    font-size: 0.9rem;
  }
  .Rating {
    background-color: black;
  }
}

#Overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}
@keyframes ReviewFormFadeInMain {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.submitTxt {
  color: white;
}

@keyframes spinForm {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
