@use "./global.scss" as *;

.forgotPassword-mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 238, 238);

  .forgotPassword-contentContainer {
    min-width: 588px;
    border-radius: 20px;
    background-color: white;
    padding: 15px 30px 30px 30px;

    label {
      font-size: 20px;
      margin-right: 20px;
      color: grey;
      vertical-align: middle;
    }

    #email {
      width: 70%;
      height: 20px;
      padding: 10px;
      font-size: 15px;
      border-radius: 10px;
      border: 1px solid lightgray;
      outline: none;

      &:focus {
        outline: 1px solid blue;
      }
    }
  }

  .forgotPassword-form {
    margin-top: 40px;

    .input-error-message {
      text-align: center;
    }
  }

  .forgotPasswordInfoSection {
    margin-bottom: 50px;
    color: $color-orange;
  }

  .forgotPasswordSubmitBtn {
    font-size: 15px;
  }
}

.successMessage-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);

  .successMessage-wrapper {
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
    color: green;
    font-size: 20px;
  }
}
