@use "sass:color";

$color-brown: #5d402b;
$color-cream: #f5e4cb;
$color-orange: #ea9332;
$color-hamburgerIcon: white;
$color-text: white;
$color-background: #fffbf4;

html,
body,
#root {
  height: 100%;
}

//SPINNER

.spinner-wrapper {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spinner {
  border: 6px solid lightgray;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

.spinner-text {
  font-size: 18px;
  color: gray;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

nav {
  z-index: 2;
  background-color: $color-cream;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  .button-section {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
  }

  #logInBtn {
    background-color: $color-orange;
    color: $color-text;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid $color-orange;
    height: 2.2rem;
    width: 4.5rem;
    cursor: pointer;
  }

  #SignUpBtn {
    background-color: $color-brown;
    color: $color-text;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid $color-brown;
    height: 2.2rem;
    width: 4.5rem;
    cursor: pointer;
  }
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: $color-cream;

  .menu-icon {
    position: relative;
    z-index: 1400;
    color: black;
    transition: color 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }

    &.active {
      color: $color-hamburgerIcon; // ili neka kontrastna boja
    }
  }

  .logo-div {
    flex: 1;
  }

  .links-div {
    flex: 1;
    display: flex;
    justify-content: space-around;

    .nav-link {
      margin: auto;
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
  }

  .user-profile-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 50px;
    height: 50px;

    #profileDropDownList {
      position: relative;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }

    #DropDownMenuContent {
      position: absolute;
      top: 50px;
      right: -5px;
      background-color: $color-cream;
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.6s ease, transform 0.6s ease;
      pointer-events: none;

      &.open {
        opacity: 1 !important;
        transform: translateY(0);
        pointer-events: auto;
      }

      .DropDownMenuItem {
        padding: 10px 20px;

        a,
        button {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: #000;
          background: none;
          border: none;
          cursor: pointer;
          width: 100%;
          text-align: left;
          font-size: 20px;
        }

        a:hover,
        button:hover {
          color: $color-brown;
        }
      }
    }
  }
}

footer {
  background-color: color.adjust($color-brown, $lightness: -20%);
  color: $color-text;
  font-size: 14px;
  padding: 18px 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

.user-container {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #5d402b;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $color-text;
    font-weight: bold;
  }
}

.input-error-message {
  color: red;
  font-size: 0.8rem;
  min-height: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.errorMsg {
  margin-top: 100px;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.successMsg {
  margin-top: 100px;
  text-align: center;
  color: greenyellow;
  font-weight: bold;
  font-size: 20px;
}

button {
  background-color: $color-orange;
  color: $color-text;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid $color-orange;
  height: 2.2rem;
  width: 6rem;
  cursor: pointer;
}

.user-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
}

.user-fullname {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 50px;
  font-size: 20px;
}

.user-profile-div {
  position: relative;

  .user-hover-fullname {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.6s ease, transform 0.6s ease,
      visibility 0s linear 0.6s;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    position: absolute;
    right: -10%;
    white-space: nowrap;
    border: 0.5px solid black;
    transition-delay: 2s;
  }

  .user-img:hover + .user-hover-fullname {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
  }

  .user-img:not(:hover) + .user-hover-fullname {
    transition-delay: 0s;
  }
}

.user-profile-div.open .user-hover-fullname {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: none !important;
}
