@use "sass:color";

$color-brown: #5d402b;
$color-cream: #f5e4cb;
$color-orange: #ea9332;
$color-hamburgerIcon: white;
$color-text: white;

html,
body,
#root {
  height: 100%;
}

//SPINNER

.spinner-wrapper {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spinner {
  border: 6px solid lightgray;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

.spinner-text {
  font-size: 18px;
  color: gray;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

nav {
  background-color: $color-cream;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  .button-section {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
  }

  #logInBtn {
    background-color: $color-orange;
    color: $color-text;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid $color-orange;
    height: 2.2rem;
    width: 4.5rem;
    cursor: pointer;
  }

  #SignUpBtn {
    background-color: $color-brown;
    color: $color-text;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid $color-brown;
    height: 2.2rem;
    width: 4.5rem;
    cursor: pointer;
  }
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: $color-cream;

  .menu-icon {
    position: relative;
    z-index: 1400;
    color: black;
    transition: color 0.3s ease-in-out;

    &.active {
      color: $color-hamburgerIcon; // ili neka kontrastna boja
    }
  }

  .logo-div {
    flex: 1;
  }

  .links-div {
    flex: 1;
    display: flex;
    justify-content: space-around;

    .nav-link {
      margin: auto;
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
  }

  .user-profile-div {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    #profileDropDownList {
      position: relative;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;
    }

    #DropDownMenuContent {
      position: absolute;

      top: 67px;
      right: 0;
      background-color: $color-cream;
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;

      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      .DropDownMenuItem {
        padding: 10px 20px;

        a,
        button {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: #000;
          background: none;
          border: none;
          cursor: pointer;
          width: 100%;
          text-align: left;
          font-size: 20px;
        }

        a:hover,
        button:hover {
          color: $color-brown;
        }
      }
    }
  }
}

footer {
  background-color: color.adjust($color-brown, $lightness: -20%);
  color: $color-text;
  font-size: 14px;
  padding: 18px 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

#LoginFormContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;

  #LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-cream;
    box-shadow: 3px 3px 2px gray;
    width: 350px;
    border-radius: 10px;
    padding: 20px;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    input {
      width: 250px;
      height: 30px;
      border-radius: 5px;
      border-style: none;
      margin: 5px;
      padding: 10px;
      font-size: 15px;

      &::placeholder {
        color: #000000;
        opacity: 28%;
      }
    }

    #password-container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      input {
        width: 250px;
        height: 30px;
        border-radius: 5px;
        border-style: none;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
      }

      button {
        margin-right: 10px;
        position: absolute;
        width: 40px;
        cursor: pointer;
        background-color: white;
        border: none;
        margin-top: 5px;
      }
    }

    #FormLoginInputsContainer {
      display: block;
    }

    #LogInTitle {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .LoginSubmitButton {
      margin-top: 30px;
      margin-bottom: 20px;
      background-color: $color-brown;
      color: $color-text;
      border: none;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
      height: 50px;
      width: 90px;
    }

    .errorMessage {
      color: $color-brown;
      margin: 0;
      margin-left: 10px;

      font-size: 15px;
    }
  }
}

.user-container {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #5d402b;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $color-text;
    font-weight: bold;
  }
}

.registerForm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .form-div {
    display: inline-block;
    background-color: $color-cream;
    border: 1px solid $color-cream;
    width: 500px;
    min-width: 400px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

      input {
        width: 80%;
        margin-bottom: 5px;
        padding: 7px;
        border-color: 1px solid $color-cream;
        border: 1px solid #ccc;
        border-radius: 6px;
      }

      .name-surname-container {
        display: flex;
        justify-content: space-between;
        width: 82%;
        gap: 10px;

        .surname-container {
          width: 100%;
          display: inline-block;
        }

        .name-container {
          width: 100%;
          display: inline-block;
        }

        input {
          width: 94%;
        }
      }

      #signUpBtn-container {
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;

        #signUpBtn {
          background-color: $color-brown;
          color: $color-text;
          padding: 5px;
          border-radius: 8px;
          font-weight: bold;
          border: 1px solid $color-brown;
          height: 2.5rem;
          width: 6rem;
          cursor: pointer;

          &:disabled {
            background-color: lightgray;
            border: 1px solid lightgray;
          }
        }
      }
    }
  }
}

.password-wrapper {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding-right: 40px;
    padding: 5px;
    border-radius: 2px;
  }

  .toggle-password {
    position: absolute;
    top: 30%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
  }
}

.input-error-message {
  color: red;
  font-size: 0.8rem;
  min-height: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.errorMsg {
  margin-top: 100px;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.successMsg {
  margin-top: 100px;
  text-align: center;
  color: greenyellow;
  font-weight: bold;
  font-size: 20px;
}

button {
  background-color: $color-orange;
  color: $color-text;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid $color-orange;
  height: 2.2rem;
  width: 6rem;
  cursor: pointer;
}