.Container {
  background-image: url("https://res.cloudinary.com/dsgans7nh/image/upload/v1764622760/Background_bv3fos.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
$color-brown: #5d402b;
$color-cream: #f5e4cb;
$color-orange: #ea9332;
$color-hamburgerIcon: white;
$color-text: white;
.LoginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding-bottom: 40px;

  border-radius: 15px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.151);

  #User {
    margin-bottom: -10px;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

    img {
      width: 100%;
      height: auto;
      padding-top: 40px;
    }
  }

  #LoginFormContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    #LoginForm {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background: transparent;

      padding-left: 50px;
      padding-right: 50px;

      input {
        width: 250px;
        height: 30px;
        border-radius: 5px;
        border-style: none;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.7);

        &::placeholder {
          color: #000000;
          opacity: 28%;
        }
      }

      #password-container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        input {
          width: 250px;
          height: 30px;
          border-radius: 5px;
          border-style: none;
          margin: 5px;
          padding: 10px;
          font-size: 15px;
        }

        button {
          margin-right: 10px;
          position: absolute;
          width: 40px;
          cursor: pointer;
          background: none;
          color: #000;
          border: none;
          margin-top: 5px;
        }
      }

      #FormLoginInputsContainer {
        display: block;
      }

      #LogInTitle {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .LoginSubmitButton {
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: $color-brown;
        color: $color-text;
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        height: 50px;
        width: 90px;
      }

      .errorMessage {
        color: $color-brown;
        margin: 0 0 0 10px;
        font-size: 15px;
      }
    }
  }
}
#forgotBtn {
  background-color: transparent;
  color: #2975a8;
  width: 100%;
  border: none;
  text-decoration: underline;
  font-size: 16px;
}
