@use "./global.scss" as *;

.newPassword-mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(238, 238, 238);

    .newPassword-contetntContainer {
        min-width: 588px;
        border-radius: 20px;
        background-color: white;
        padding: 15px 30px 30px 30px;

        .newPassword-infoContainer {
            color: $color-orange;
        }

        .newPassword-FormContainer {
            margin-top: 35px;

            label {
                font-size: 20px;
                margin-right: 20px;
                color: grey;
                vertical-align: middle;
            }

            #password {
                width: 55%;
                height: 20px;
                padding: 10px;
                font-size: 15px;
                border-radius: 10px;
                border: 1px solid lightgray;
                outline: none;

                &:focus {
                    outline: 1px solid blue;
                }
            }

            .newPasswordBtn-container {
                margin-top: 15px;
                    .newPasswordSubmitBtn {
                        font-size: 16px;
                    }

                }
        }
    }

}