@use "./global.scss" as *;

.newPassword-mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(238, 238, 238);

    .newPassword-contetntContainer {
        min-width: 588px;
        border-radius: 20px;
        background-color: white;
        padding: 15px 30px 30px 30px;

        .newPassword-infoContainer {
            color: $color-orange;
        }

        .newPassword-FormContainer {
            margin-top: 60px;

            label {
                font-size: 20px;
                margin-right: 20px;
                color: grey;
                vertical-align: middle;
            }

            .newPassword-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .newPassword-wrapper, .newConfirmPassword-wrapper{
                    position: relative;
                }
                .newPassword-wrapper{
                    margin-bottom: 15px;
                }
label{
    display: inline-block;
    width: 40%;
}
                #password {
                    width: 50%;
                    height: 20px;
                    padding: 10px;
                    font-size: 15px;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    outline: none;

                    &:focus {
                        outline: 1px solid blue;
                    }
                }
                .toggle-password{
                    position: absolute;
                    left: 90%;
                    top: 20%;
                }

                #confirmPassword {
                    width: 50%;
                    height: 20px;
                    padding: 10px;
                    font-size: 15px;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    outline: none;

                    &:focus {
                        outline: 1px solid blue;
                    }
                }
            }

            .newPasswordBtn-container {
                margin-top: 15px;

                .newPasswordSubmitBtn {
                    font-size: 16px;
                }

            }
        }
    }

}