$color-orange: #ea9332;
$color-text: white;

.restaurant-container {
  display: flex;
}

.restaurant-container-left {
  flex: 1;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .restaurant-div {
    width: 70%;

    #restaurant-upper-section {
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 30px;
      }

      #rate-capacity {
        display: flex;

        span {
          align-content: center;
        }
      }
    }

    #restaurant-middle-section {
      width: 100%;

      #restaurant-image {
        border-radius: 5px;
        align-content: center;
        width: 100%;
        max-height: 600px;
      }
    }
  }

  .meals-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20%;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 70%;

    .meal-card {
      width: 40%;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      padding-left: 20px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 10px #0000001a;

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      }

      &.selected {
        background-color: #f5e4cb;
      }

      .meal-image {
        position: relative;

        img {
          width: 180px;
          height: 100%;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      .meal-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      #meal-desc {
        font-size: 12px;
      }

      #meal-price {
        font-size: 20px;
        margin-bottom: 10px;
      }

      #add-meal-to-cart {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #ff6600;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          background-color: white;
          color: #ff6600;
        }
      }
    }
  }
}

.link {
  cursor: pointer;
}

.basket-container {
  width: 20%;
  height: 80vh;
  margin: auto 20px;
  overflow: auto;

  .basket-item {
    display: flex;
    justify-content: space-between;
  }
}

#SucessPopupContainer {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 1000;
}

#checkout-btn {
  background-color: $color-orange;
  color: $color-text;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid $color-orange;
  height: 2.2rem;
  width: 6rem;
  cursor: pointer;
}

.MuiPaper-root {
  background-color: white;
  width: 500px;
  max-width: 50%;
}